
body {
  padding-top: 1em;
  padding-left: 1em;
}

a, a:visited, a:hover, a:active {
  border: none;
  text-decoration: none;
}

/*
#logo {
  float: right;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  padding-left: 2em;
}

#logo img {
  width: 1in;
  height: 1in;
}
*/

#logo {
  position: fixed;
  top: 1em;
  right: 1em;
  max-width: 10%;
}

#logo img {
  width: 1in;
  max-width: 100%;
  height: auto;
}

#content {
  max-width: 85%;
}

#content2 {
  max-width: 800px;
}

li {
  padding-top: 0.25em;
}

li:first-child {
  padding-top: 0;
}

pre {
  padding-left: 1em;
}

td, th {
  padding-left: 1em;
}

td:first-child, th:first-child {
  padding-left: 0;
}

