<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>{{ page.title }} - Argon Window Manager</title>
    <link href="main.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div id="logo">
      <a href="/argon"><img src="argon.png" alt="Argon logo"/></a>
    </div>
    <h1 id="page-title">{{ page.title }}</h1>
    <div id="content">
      <div id="content2">
        {{ content }}
      </div>
    </div>
  </body>
</html>
